:root{
  --color-slate-900: hsl(218, 44%, 22%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}